header, footer {
    width: 100%;
}

html, body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

section {
    width: 100%;
    padding: 200px 230px 0;
}

.inner {
    width: 100%;
}

@media screen and (max-width: 1400px){
    section {
        padding: 160px 120px 0;
    }
}

@media screen and (max-width: 1024px){
    section {
        padding: 130px 60px 0;
    }
}

@media screen and (max-width: 768px){
    section {
        padding: 100px 20px 0;
    }
}